* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../IMAGES/fondoAlmacen.jpg); 
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    
}

header {
    display: flex;
    height: 120px;
    background-color: #34495E;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.logo img {
    height: 120px;
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: #fff;
}
nav a {
    font-weight: 600;
    padding-right: 15px;
    transition: all 400ms ease;
    font-size: 15px;
}

nav a:hover {
    color: goldenrod;
}

nav img {
    width: 20px;
    height: 20px;
}
h2{
    font-size: 30px;
    margin: 20px;
    text-align: center;
    color: white;
}
.todo{
    display: grid;
    height: 550px; /* Establece la altura que desees */
    width: 500px; /* Establece el ancho que desees */
    margin: 0 auto; 
    background-color: #ffffff57;
    border-radius: 1em;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
.boton {
    display: block; /* Cambia a 'block' para que cada botón ocupe toda la línea */
    background-color: #34495E;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px; /* Agrega espacio inferior para separar los botones */
    border: 3px solid black;
    border-radius: 1.5em;
    width: 25rem;
    padding: 0.8em;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
.boton:hover {
    background-color: #2C3E50;
}
@media screen and (max-width: 1100px) {
    header {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .logo img {
        height: 120px;
        padding: 0;
        margin: 5px 0;
    }

    .menu {
        margin-top: 10px;
        text-align: center;
    }

    .menu a {
        display: block;
        padding: 10px;
        font-size: 18px;
    }

    .idioma-espana, .idioma-ingles {
        display: inline-block;
        margin: 0 10px;
    }
}
   
