*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-height: 110%;
    position: relative;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
header{
    display: flex;
    height: 125px;
    background-color: #34495E;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.logo img{
   height: 120px;
   padding-left: 50px;
}
a{
    text-decoration: none;
    color: #fff;
}
nav a{
    font-weight: 600;
    padding-right: 15px;
    transition: all 400ms ease;
    font-size: 15px;
}
nav a:hover{
    color: goldenrod;
}
nav img{
    width: 20px;
    height: 20px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}
.container2{
    background-image: url(../IMAGES/Libreta.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 360px;
    width: 270px;

}
.Titulos{
    font-weight: bold;
    margin-top: 10px;
}
.Tipos {
    border-bottom: 1px dotted #000; /* Color negro */
    margin-top: 10px; /* Espacio entre el párrafo y la línea punteada */
    text-align: center;
}
p{
    text-align: center;
}
h1{
    text-align: center;
    margin: 60px;
}
.footer{
    width: 100%;
    background-color: #34495E;
    position: absolute;
    bottom: 0;
    
}
.footer .container-footer{
    width: 100%;
    max-width: 1100px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 20px 0px;
    text-align: center;
}
.footer .container-footer .box h4{
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
}
.footer .container-footer .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer .container-footer .redes-sociales a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    transition: transform 0.3s ease;
}

.footer .container-footer .redes-sociales a:hover{
    transform: scale(1.2);
}
.footer .container-footer .redes-sociales img{
    width: 30px;
    height: 30px;
    text-align: center;
}