*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    min-height: 110%;
    position: relative;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
header {
    display: flex;
    height: 125px;
    background-color: #34495E;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.logo img {
    height: 120px;
    padding-left: 50px;
}
a {
    text-decoration: none;
    color: #fff;
}
nav a {
    font-weight: 600;
    padding-right: 15px;
    transition: all 400ms ease;
    font-size: 15px;
}

nav a:hover {
    color: goldenrod;
}

nav img {
    width: 20px;
    height: 20px;
}

.container {
    width: 100%;
    height: 44rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px ;
}
.container-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Divide el espacio en tres columnas iguales */
    gap: 2px;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: #fff;
    position: relative;
    max-width: 400px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #000;
}
.card img {
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
    height: 446px;
    width: 380px;
}
.card:hover img{
    opacity: 1;
}
.card .contenido{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    width: 100%;
    height: 100%;
}
.card .contenido h4{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition: 0.4s;
    transition-property: transform;
}
.card .contenido h4 span{
    font-weight: 900;
}
.card:hover .contenido h4{
    transform: translateY(-30px);
}
.card .contenido p{
    margin: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}
.card:hover .contenido p{
    opacity: 1;
    transform: translateY(-40px);
}


.footer{
    width: 100%;
    background-color: #34495E;
    position: absolute;
    bottom: 0;
    
}
.footer .container-footer{
    width: 100%;
    max-width: 1100px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 20px 0px;
    text-align: center;
}
.footer .container-footer .box h4{
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
}
.footer .container-footer .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer .container-footer .redes-sociales a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    transition: transform 0.3s ease;
}

.footer .container-footer .redes-sociales a:hover{
    transform: scale(1.2);
}
.footer .container-footer .redes-sociales img{
    width: 30px;
    height: 30px;
    text-align: center;
}


/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    header {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .logo img {
        height: 120px;
        padding: 0;
        margin: 5px 0;
    }

    .menu {
        margin-top: 10px;
        text-align: center;
    }

    .menu a {
        display: block;
        padding: 10px;
        font-size: 18px;
    }

    .idioma-espana, .idioma-ingles {
        display: inline-block;
        margin: 0 10px;
    }
}
   
@media screen and (max-width: 768px) {
    .container{
        height: 70rem;
    }    

    .container-card {
        grid-template-columns: 1fr; /* Una sola columna en dispositivos móviles */
        width: 80%;
    }
    
    .card {
        max-height: 300px; /* Establece la altura deseada */
        max-width: 200px;
    }
    
    .card img {
        width: 100%; /* Ocupa todo el ancho del contenedor */
        height: 100%; /* Ajusta la altura automáticamente */
    }
    
    .card .contenido h4 {
        font-size: 20px; /* Tamaño de fuente deseado */
    }
    
    .card .contenido p {
        font-size: 12px; /* Tamaño de fuente deseado */
    }
}
@media screen and (max-width: 1300px) {
    /* Otras reglas CSS existentes para pantallas más pequeñas */
    .container{
        height: 90rem;
    }    

    .container-card {
        grid-template-columns: 1fr; /* Una sola columna en dispositivos móviles */
        gap: 40px;
    }
    
    .card {
        width: 100%; /* Ocupa todo el ancho del contenedor */
        max-height: 400px; /* Establece la altura deseada */
        max-width: 600px;
        height: 100%;
    }
    
    .card img {
        width: 100%; /* Ocupa todo el ancho del contenedor */
        height: 24.1rem; /* Ajusta la altura automáticamente */
    }
}
